<footer>
 <div class="container">
     
    <div class="row">
      <div class="footer-icons">
        <a class="footer-privacy" href="/privacy/">{{_('Privacy')}}</a>
      </div>
      <div class="footer-icons">
        <a class="footer-privacy" href="/terms/">{{_('Terms of Use')}}</a>
      </div>
    </div>
  </div>
  <script> (function(w,d,t,u,n,a,m){w['MauticTrackingObject']=n; w[n]=w[n]||function(){(w[n].q=w[n].q||[]).push(arguments)},a=d.createElement(t), m=d.getElementsByTagName(t)[0];a.async=1;a.src=u;m.parentNode.insertBefore(a,m) })(window,document,'script','http://mautic.fanadnetwork.com/mtc.js','mt'); mt('send', 'pageview'); </script>
</footer>

<amp-install-serviceworker src="/service-worker.js?v2" layout="nodisplay"></amp-install-serviceworker>
