{% extends "/views/base.html" %}

{% set navmarkup %}
{% include "/views/partials/breadcrumb-nav.html" %}
{% endset %}

{% block main %}
  {{ navmarkup|safe }}

  <div class="container xl about-overview-block">
    <section class="hero">
      <div class="text">
        <h1>{{_(doc.hero.title)}}</h1>
        <p>{{_(doc.hero.subtitle)}}</p>
      </div>
    </section>




    {% with points = doc.points %}
      
    {% endwith %}
  </div>
    </section>

     <div class="container xl about-overview-block">

    </section>

    </div>
    <br/>
    <br/>
  {% with cta = doc.cta %}

  {% endwith %}
  {% include "/views/partials/footer.html" %}

{% endblock %}
