{% extends "/views/base.html" %}

{% set navmarkup %}
{% include "/views/partials/breadcrumb-nav.html" %}
{% endset %}

{% block main %}
  {{ navmarkup|safe }}

  <style amp-custom>
      /* any custom styles go here. */
    .cloudMigrationBanner {
      display: -webkit-flex; /* Safari */
      display: flex;

    }
    .titleItem {
      flex: 5;
    }
    .imgItem {
      flex: 1;
    }
    #cloudBannerSection {
      margin-top: 0px;
      margin-Bottom: 0px;

    }

    </style>

  <div style="text-align:center; margin-bottom:0;" class="xl about-overview-block">
    <section id="cloudBannerSection" class="hero">
     <div class='cloudMigrationBanner'>
      <div  class="text titleItem">
        <h1 style="font-size:16">{{_(doc.hero.title)}}</h1>
      </div>
      <div class="imgItem">
        <amp-img src="/static/img/cloud-migration.png" alt="Welcome" height="500" width="600"></amp-img>
      </div>
    </div>
    </section>

    <section class="core">
      <h2 class="h1">{{_(doc.core.title)}}</h2>
      <amp-accordion disable-session-states>
        {% for component in doc.core.components %}
          <section>
            <header>
              <h4>{{_(component.title)}}</h4>
              <div class="subtitle">{{_(component.subtitle)|markdown|safe}}</div>
            </header>

            <div class="core-content">
              <div class="description">{{_(component.description)|markdown|safe}}</div>
              {% if component.example %}
                {% set example = g.doc(component.example, locale=doc.locale) %}
                {{example.html|safe}}
              {% endif %}
              {% if component.description2 %}
                <div class="description">{{_(component.description2)|markdown|safe}}</div>
              {% endif %}
            </div>
          </section>
        {% endfor %}
      </amp-accordion>
    </section>
  </div>


  {% with cta = doc.cta %}

  {% endwith %}
  {% include "/views/partials/footer.html" %}

{% endblock %}
