{% extends "/views/base.html" %}

{% set navmarkup %}
{% include "/views/partials/breadcrumb-nav.html" %}
{% endset %}

{% block main %}
  {{ navmarkup|safe }}

  <div class="container xl about-overview-block">
    <section class="hero">

      <div class="text">
        <h1>{{_(doc.hero.title)}}</h1>
        <a class="button" href="{{doc.hero.cta_url}}">
          {{_(doc.hero.cta)}}
          <span class="arrow"></span>
        </a>

      </div>
    </section>

    <section class="core">
      <h2 class="h1">{{_(doc.core.title)}}</h2>
      <amp-accordion disable-session-states>
        {% for component in doc.core.components %}
          <section>
            <header>
              <h4>{{_(component.title)}}</h4>
              <div class="subtitle">{{_(component.subtitle)|markdown|safe}}</div>
            </header>

            <div class="core-content">
              <div class="description">{{_(component.description)|markdown|safe}}</div>
              {% if component.example %}
                {% set example = g.doc(component.example, locale=doc.locale) %}
                {{example.html|safe}}
              {% endif %}
              {% if component.description2 %}
                <div class="description">{{_(component.description2)|markdown|safe}}</div>
              {% endif %}
            </div>
          </section>
        {% endfor %}
      </amp-accordion>
    </section>
  </div>





  {% endwith %}
  {% include "/views/partials/footer.html" %}

{% endblock %}
