{% extends "/views/base.html" %}

{% set navmarkup %}
{% include "/views/partials/breadcrumb-nav.html" %}
{% endset %}

{% block main %}
  {{ navmarkup|safe }}

  <div style="text-align:center" class="container xl">
    <div class="title">
      <h1 style="color:white">{{_(doc.title)}}</h1>
      <p class="subtitle">{{_(doc.subtitle)}}</p>
    </div>

    <div class="principles">



      <div style="background-color:white;padding:80px;text-align:center" class="form">

<!--[if lte IE 8]>
<script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2-legacy.js"></script>
<![endif]-->
<script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
<script>
hbspt.forms.create({
portalId: '4284459',
formId: 'c45e2dc2-5cd1-40c4-81ea-013a41b25f28'
});
</script>

      </div>

      <div  style="background-color:white;padding:80px;"  class="principles-col">
        {% for principle in doc.principles %}
          <div class="principle">
            <div class="image">

            <div id="address" class="text">
              <h3>{{_(principle.title)}}</h3>
              <p>{{_(principle.description)|markdown|safe}}</p>
            </div>

          </div>
          {% if loop.index0 == 3 %}
            </div>
            <div class="principles-col">
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>

  {% with cta = doc.cta %}

  {% endwith %}
  {% include "/views/partials/footer.html" %}
{% endblock %}
