{% extends "/views/base.html" %}

{% set navmarkup %}
{% include "/views/partials/breadcrumb-nav.html" %}
{% endset %}

{% block main %}
  {{ navmarkup|safe }}

  <div style="text-align:center" class="container xl">
    <div class="title">
      <h1>{{_(doc.title)}}</h1>
      <p class="subtitle">{{_(doc.subtitle)}}</p>
    </div>

    <div class="principles">
      <style>

<style type="text/css">
      @import url('http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');
                form-style-8{
          font-family: 'Open Sans Condensed', arial, sans;
          width: 500px;
          padding: 30px;
          background: #FFFFFF;
          margin: 50px auto;
          box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
          -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
          -webkit-box-shadow:  0px 0px 15px rgba(0, 0, 0, 0.22);

          }
          .form-style-8 h2{
          background: #4D4D4D;
          text-transform: uppercase;
          font-family: 'Open Sans Condensed', sans-serif;
          color: #797979;
          font-size: 18px;
          font-weight: 100;
          padding: 20px;
          margin: -30px -30px 30px -30px;
          }
          .form-style-8 input[type="text"],
          .form-style-8 input[type="date"],
          .form-style-8 input[type="datetime"],
          .form-style-8 input[type="email"],
          .form-style-8 input[type="number"],
          .form-style-8 input[type="search"],
          .form-style-8 input[type="time"],
          .form-style-8 input[type="url"],
          .form-style-8 input[type="password"],
          .form-style-8 textarea,
          .form-style-8 select
          {
          box-sizing: border-box;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          outline: none;
          display: block;
          width: 100%;
          padding: 7px;
          border: none;
          border-bottom: 1px solid #ddd;
          background: transparent;
          margin-bottom: 10px;
          font: 16px Arial, Helvetica, sans-serif;
          height: 45px;
          }
          .form-style-8 textarea{
          resize:none;
          overflow: hidden;
          }
          .form-style-8 input[type="button"],
          .form-style-8 input[type="submit"]{
          -moz-box-shadow: inset 0px 1px 0px 0px #45D6D6;
          -webkit-box-shadow: inset 0px 1px 0px 0px #45D6D6;
          box-shadow: inset 0px 1px 0px 0px #45D6D6;
          background-color: #2CBBBB;
          border: 1px solid #27A0A0;
          display: inline-block;
          cursor: pointer;
          color: #FFFFFF;
          font-family: 'Open Sans Condensed', sans-serif;
          font-size: 14px;
          padding: 8px 18px;
          text-decoration: none;
          text-transform: uppercase;
          }
          .form-style-8 input[type="button"]:hover,
          .form-style-8 input[type="submit"]:hover {
          background:linear-gradient(to bottom, #34CACA 5%, #30C9C9 100%);
          background-color:#34CACA;
          }
          .styled-select {
             background: url(http://i62.tinypic.com/15xvbd5.png) no-repeat 96% 0;
             height: 29px;
             overflow: hidden;
             width: 240px;
          }
          .styled-select select {
             background: transparent;
             border: none;
             font-size: 14px;
             height: 29px;
             padding: 5px; /* If you add too much padding here, the options won't show in IE */
             width: 268px;
          }
          .styled-select.slate {
             background: url(http://i62.tinypic.com/2e3ybe1.jpg) no-repeat right center;
             height: 34px;
             width: 240px;
          }

          .styled-select.slate select {
             border: 1px solid #ccc;
             font-size: 16px;
             height: 34px;
             width: 268px;
          }
          #address {
            -moz-box-shadow:    inset 0 0 10px #000000;
            -webkit-box-shadow: inset 0 0 10px #000000;
             box-shadow:         inset 0 0 10px #000000;
             padding: 10px;
             margin: 15px;
          }
      </style>
      <div style="background-color:white;padding:80px;" class="form">
        <div class="form-style-8">
           <h2 style="color:white">submit us your query</h2>
           <form
             name="queryForm"
            method="post"
            class="p2"
            action-xhr="/components/amp-form/submit-form-input-text-xhr"
            target="_top">
             <input type="text" name="name" placeholder="Name" required/>
             <input type="number" name="phone" placeholder="Phone" required/>
             <input type="email" name="email" placeholder="Email" required/>
             <input type="text" name="companyName" placeholder="Company Name"  required/>
             <input type="text" name="industryName" placeholder="Industry Name" required/>
             <input type="number" name="numberOfPeople" placeholder="How many people do you need" required/>
              <h6 style="text-aling:left;color:gray;"> How soon before you kick start your project </h6>
             <input type="date" name="projectDate" placeholder="How soon before you kick start your project" required/>
             <div>
             <h6 style="text-aling:left;color:gray;"> I would like to work on </h6>
              <select name="intrested" form="queryForm" placeholder="Interested" required>
                <option value="project">Projects</option>
                <option value="individual">Individual People Consulting</option>

              </select>
            </div>
             <input type="button" value="Send" />
           </form>
  </div>
      </div>

      <div  style="background-color:white;padding:80px;"  class="principles-col">
        {% for principle in doc.principles %}
          <div class="principle">
            <div class="image">
             
            <div id="address" class="text">
              <h3>{{_(principle.title)}}</h3>
              <p>{{_(principle.description)|markdown|safe}}</p>
            </div>

          </div>
          {% if loop.index0 == 3 %}
            </div>
            <div class="principles-col">
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>

  {% with cta = doc.cta %}

  {% endwith %}
  {% include "/views/partials/footer.html" %}
{% endblock %}
