{% extends "/views/base.html" %}
{% set navmarkup %}
  {% include "/views/partials/breadcrumb-nav.html" %}
{% endset %}
{% block main %}
<div style="text-align:center;" id="privacy">
  <h1 style="color:white;font">Pricing </h1>
  <div class="row">
    <div  style="background-color:white;padding:50px;" class="twelve columns">

      <h1 style="font-size:20px;font-weight:400">We provide cloud based experienced folks on a consulting basis on two models.</h1>

      <p style="font-size:18px;text-align:left;"> <span style="font-weight:500">1.</span>  Onshore and at your office (or our office). Simple fixed fee of $14,000. Month to month. No additional fees. Discounts - 5% for 6 months, and 10% for yearly contracts apply.</p>
      <p style="font-size:18px;margin-top:50px;text-align:left;"> <span style="font-weight:500">2.</span>   Offshore (at our premises or your premises): $6000 fixed fee. Discounts - 5% for 6 months, and 10% for yearly contracts apply.
</p>

    </div>
</div>
</div>
{% include "/views/partials/footer.html" %}
{% endblock %}
